extends layout

block content

    div(id="left-bar", ng-controller="Menu")

    div(id="message-block", ng-controller="Messages")
        ul(id="messages", class='messageBox')
        div(id="typing", class='typingTracker')
            div(class="counter-writers") {{counter}}
            div(class="loading-container")
                img(class="animated-gif", src="/images/edit_user1600.png")


    div(id="bottom-bar", ng-controller="Input")
        div(id="disconnect", class='button-bb', ng-click='disconnect()')
            i(class="fa fa-power-off square-icon icon-padding-setting-one clickable")

        div(id="message-input")
            //md-content(md-theme="custom")
            md-input-container(class="md-block")
                label Message
                input(ng-model="message.content", autocomplete="off", ng-keyup="inputWatcher($event)")

        div(id="emote-button", class='button-bb')
            i(class="fa fa-smile-o square-icon icon-padding-setting-one desactivated")

        div(id="take-picture", class='button-bb')
            i(class="fa fa-picture-o square-icon icon-padding-setting-two desactivated")

        div(id="join-file", class='button-bb')
            i(class="fa fa-paperclip square-icon icon-padding-setting-one desactivated")

        div(id="send-button", class='button-bb', ng-click='sendMessage()')
            i(class="fa fa-paper-plane square-icon icon-padding-setting-two clickable")