html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

#messages { list-style-type: none; margin: 0; padding: 0; }

/***
 **
 ** LEFT-BAR CSS
 **
***/

#left-bar {
    position: absolute;
    width: 50px;
    height: 100%;

    background-color: rgba(255, 0, 0, 0.50);
}

/***
 **
 ** MESSAGE-BLOCK CSS
 **
***/

#message-block {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    overflow-y: auto;

    background-color: rgba(0, 255, 0, 0.50);
}

.message {
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.message-from-current-user {
    margin-left: calc(20% - 30px);

    background-color: rgba(255, 255, 255, 0.50);
}

.message-from-another-user {
    margin-left: 30px;

    background-color: rgba(0, 255, 0, 0.50);
}

.message-from-system-user {
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.50);
}

.typingTracker {
    display: none;
}
.loading-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.animated-gif {
    margin: 0 5px 0 0;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 5%;
}

.counter-writers {
    position: absolute;

    font-weight: 700;
    bottom: 35px;
    right: 7px;
    color: red;
    font-size: medium;

}

/***
 **
 ** BOTTOM-BAR CSS
 **
***/

#bottom-bar {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 50px;

    background-color: rgba(0, 0, 255, 0.50);
}
#bottom-bar #disconnect {
    background-color: gray;
}
#bottom-bar #message-input {
    position: relative;

    width: calc(100% - 250px);
    height: 50px;
    display: block;
    float: left;

    background-color: lightpink;
}
#bottom-bar #message-input .md-block {
    margin: 13px 0 !important;
}
#bottom-bar #emote-button {
    background-color: lightgoldenrodyellow;
}
#bottom-bar #take-picture {
    background-color: lightsalmon;
}
#bottom-bar #join-file {
    background-color: lightskyblue;
}
#bottom-bar #send-button {
    background-color: lemonchiffon;
}
.button-bb {
    position: relative;

    width: 50px;
    height: 50px;
    display: block;
    float: left;
}